html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
}

* {
    box-sizing: border-box;
}

.control-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    background-color: #000;
}

.wrapper {
    display: flex;
    position: relative;
    height: calc(100% - 50px);
    overflow: hidden;
    flex-direction: row-reverse;
}

.sidebar {
    color: #111;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    position: absolute;
    top: 50px;
    left: 0;
    user-select: none;
    border-top: 1px solid #aaa;
}

.sidebar.mode-list,
.sidebar.mode-map {
    width: 480px;
    bottom: 0;
}

.sidebar.mode-card {
    width: 480px;
    max-height: 100%;
}

.region-list {
    height: 100%;
    overflow: hidden;
    display: none;
}

.sidebar.mode-list .region-list,
.sidebar.mode-map .region-list {
    display: block;
}

.map-container {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.scope,
.map {
    position: absolute;
    width: 100%;
    height: 100%;
}

.map {
    background-color: #191a1a;
}

.mapboxgl-canvas {
    outline: none;
}

.scope {
    pointer-events: none;
}

.tooltip {
    display: none;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    min-height: 40px;
    background-color: #fff;
    border-radius: 3px;
    padding: 10px;
    font-size: 14px;
}
.tooltip.active {
    display: block;
}

.tooltip-header {
    font-weight: bold;
}

.tooltip-subheader {
    color: #777;
}

.tooltip-counters {
    display: flex;
    margin-top: 5px;
    font-weight: bold;
}
.tooltip-counter.cases {
    color: #006837;
}
.tooltip-counter.deaths {
    margin-left: 15px;
    color: #ca0020;
}

.play-button {
    width: 35px;
    height: 35px;
    margin: 5px 5px 5px 10px;
    cursor: pointer;
    background-color: transparent;
    flex-shrink: 0;
    overflow: hidden;
}

.icon.play {
    width: 35px;
    height: 35px;
}

.icon.pause {
    width: 35px;
    height: 35px;
}

.icon.hidden {
    display: none;
}

.date-slider {
    flex-grow: 1;
    margin: 5px 10px 5px 5px;
    cursor: pointer;

    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 2px;
    background-color: #eee;
    outline: none;
}

.date-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #eee;
    cursor: pointer;
}

.date-slider::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #eee;
    cursor: pointer;
}

.date-slider.hidden {
    visibility: hidden;
}

.date-indicator {
    margin: 5px;
    color: #eee;
    font-size: 16px;
    font-weight: bold;
    user-select: none;
}

.countries {
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow: auto;
}

/* Custom scrollbar styles (Webkit) */
.countries::-webkit-scrollbar,
.card::-webkit-scrollbar {
    width: 5px;
}
.countries::-webkit-scrollbar-track,
.card::-webkit-scrollbar-track {
    background: transparent;
}
.countries::-webkit-scrollbar-thumb,
.card::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: #777;
}

/* Custom scrollbar styles (Firefox) */
.countries,
.card {
    scrollbar-width: thin;
    scrollbar-color: #777 transparent;
}

.country {
    position: relative;
    font-size: 18px;
}

.country:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.country-info {
    cursor: pointer;
    padding: 5px 15px 5px 0;
    display: flex;
    align-items: center;
    height: 50px;
}

.sidebar.row-cases .country-case-count,
.sidebar.row-cases .region-case-count {
    color: #006837;
}
.sidebar.row-deaths .country-case-count,
.sidebar.row-deaths .region-case-count {
    color: #ca0020;
}

.delta-switch.daily .delta-option[data-option='daily'],
.delta-switch.total .delta-option[data-option='total'] {
    color: #111;
}

.country-info[data-id='world'] .country-name,
.country-info[data-id='world'] .country-case-count {
    font-weight: bold;
}

.country-name {
    flex-grow: 1;
}

.expand-button {
    width: 32px;
    height: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    margin-top: 20px;
    color: #111;
}

.expand-button.hidden {
    visibility: hidden;
}

.icon.expand-hover {
    display: none;
}
.expand-button:hover .icon.expand {
    display: none;
}
.expand-button:hover .icon.expand-hover {
    display: inline;
}

.icon.expand,
.icon.expand-hover {
    pointer-events: none;
    width: 12px;
    height: 12px;
    margin-left: 10px;
    transition: transform 0.4s;
}

.country.expanded .icon.expand,
.country.expanded .icon.expand-hover {
    transform: rotate(180deg);
}

.sidebar.row-cases .country-info:hover,
.sidebar.row-cases .region:hover {
    background-color: rgba(217, 239, 139, 0.25);
}
.sidebar.row-deaths .country-info:hover,
.sidebar.row-deaths .region:hover {
    background-color: rgba(253, 219, 199, 0.25);
}

.country-regions {
    display: none;
}

.country.expanded .country-regions {
    display: block;
}

.region {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    border: 1px solid #ddd;
    padding: 5px 15px;
    margin: 5px 10px 5px 35px;
    border-radius: 3px;
}

.toggles {
    position: absolute;
    top: 0;
    left: 0;
    width: 480px;
    height: 50px;
    display: flex;
    cursor: pointer;
    user-select: none;
}

.row-selector {
    display: flex;
    align-items: center;
    width: 50%;
    flex-shrink: 0;
    background-color: #eee;
    border-right: 1px solid #aaa;
}

.row-selector-button {
    flex-grow: 1;
    height: 100%;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    color: #aaa;
    background-color: #eeeeee;
}

.row-selector.cases .row-selector-button[data-row='cases'],
.row-selector.deaths .row-selector-button[data-row='deaths'] {
    color: #111;
}

.row-selector-button:first-child {
    text-align: right;
    padding-right: 20px;
}
.row-selector-button:last-child {
    text-align: left;
    padding-left: 20px;
}

.row-selector.cases .icon.toggle {
    transform: scaleX(-1);
}

.delta-switch {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #eeeeee;
}

.sidebar.mode-card .delta-switch {
    border-bottom-right-radius: 3px;
}

.delta-option {
    flex-grow: 1;
    line-height: 50px;
    font-weight: bold;
    color: #aaa;
}

.delta-option:first-child {
    text-align: right;
    padding-right: 20px;
}

.delta-option:last-child {
    text-align: left;
    padding-left: 20px;
}

.icon.toggle {
    height: 30px;
}

.delta-switch.daily .icon.toggle {
    transform: scaleX(-1);
}

.card {
    display: none;
    position: relative;
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow: auto;
}

.sidebar.mode-card .card {
    display: block;
}

.close-button {
    position: absolute;
    right: 17px;
    top: 22px;
    width: 17px;
    height: 17px;
    cursor: pointer;
}

.icon.close {
    width: 100%;
    height: 100%;
}

.card-header {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.card-subheader {
    font-size: 18px;
    color: #aaa;
    font-weight: bold;
    cursor: pointer;
}

.chart {
    margin-top: 5px;
}

.chart-counters {
    font-size: 14px;
    margin-top: 10px;
}

.chart-counter {
    display: flex;
    width: 50%;
}

.chart-counter.cases {
    color: #006837;
}
.chart-counter.deaths {
    color: #b2182b;
}

.chart-counter-caption {
    margin-left: 5px;
}
.chart-counter-number {
    font-weight: bold;
}

.chart-overlay {
    cursor: pointer;
}

.mode-selector {
    display: none;
}

@media (max-width: 800px) {
    .sidebar,
    .mode-selector {
        z-index: 3;
    }

    .map-container {
        top: 50px;
        height: calc(100% - 90px);
    }

    .toggles {
        width: 100%;
    }

    .sidebar.mode-list,
    .sidebar.mode-map,
    .sidebar.mode-card {
        width: 100%;
        height: calc(100% - 40px);
        transition: transform 0.25s;
        background-color: #fff;
    }
    .sidebar.mode-map {
        transform: translate(0, 100%);
    }
    .sidebar.mode-map .region-list {
        display: none;
    }

    .delta-switch {
        border-radius: 0;
    }

    .close-button {
        display: none;
    }

    .mode-selector {
        user-select: none;
        display: flex;
        height: 40px;
        background-color: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-top: 1px solid #ddd;
    }

    .mode-selector-button {
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        flex-grow: 1;
        line-height: 40px;
        font-weight: bold;
        text-align: center;
        color: #333;
        background-color: #efefef;
        vertical-align: middle;
        cursor: pointer;
    }

    .mode-selector-button:not(:last-child) {
        border-right: 1px solid #ddd;
    }

    .mode-selector-button.active {
        background-color: #fff;
        cursor: initial;
    }

    .icon-map {
        height: 14px;
        margin-top: 12px;
        margin-right: 5px;
    }

    .icon-table {
        height: 16px;
        margin-top: 11px;
        margin-right: 5px;
    }

    .icon-chart {
        height: 16px;
        margin-top: 12px;
        margin-right: 5px;
    }
}

.no-webgl {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #0d0a05;
    color: #eeeae7;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    user-select: none;
}
.no-webgl-cell {
    display: table-cell;
    vertical-align: middle;
}
